@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="form-body">
                            <ul class="nav nav-tabs final-login">
                                <li><a asp-page="/Account/Login">Login</a></li>
                                <li class="active"><a data-toggle="tab" href="#sectionB">Cadastre-se</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="sectionB" class="tab-pane fade in active">
                                    <div class="innter-form">
                                        <form asp-route-returnUrl="@Model.ReturnUrl" class="sa-innate-form" method="post">
                                            <div asp-validation-summary="All" class="text-danger"></div>
                                            <div class="form-group">
                                                <label asp-for="Input.Username">Name</label>
                                                <input asp-for="Input.Username" placeholder="Nick">
                                                <span asp-validation-for="Input.Username" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Input.Email">Email</label>
                                                <input asp-for="Input.Email" placeholder="E-mail">
                                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Input.Password"></label>
                                                <input asp-for="Input.Password" placeholder="Senha">
                                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Input.ConfirmPassword"></label>
                                                <input asp-for="Input.ConfirmPassword" placeholder="Confirme sua senha">
                                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                            </div>
                                            <button type="submit">Cadastrar</button>
                                        </form>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
